---
- name: Ensure oh-my-posh theme directory exists on Windows hosts
  community.windows.win_file:
    path: "{{ posh_theme_dir }}"
    state: directory

- name: Download atomic oh-my-posh theme (Windows)
  community.windows.win_get_url:
    url: https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/main/themes/atomic.omp.json
    dest: "{{ posh_theme_path }}"

- name: Ensure PowerShell profile directory exists
  community.windows.win_file:
    path: "{{ ansible_env.USERPROFILE }}\\Documents\\PowerShell"
    state: directory

- name: Configure PowerShell prompt to use oh-my-posh
  community.windows.win_lineinfile:
    path: "{{ ansible_env.USERPROFILE }}\\Documents\\PowerShell\\Microsoft.PowerShell_profile.ps1"
    create: true
    line: "oh-my-posh init pwsh --config \"{{ posh_theme_path }}\" | Invoke-Expression"
    insertafter: EOF
