- name: Define oh-my-posh theme path
  ansible.builtin.set_fact:
    posh_theme_path: >-
      {% if ansible_facts['os_family'] == 'Windows' %}
      {{ ansible_env.LOCALAPPDATA }}\\Programs\\oh-my-posh\\themes\\atomic.omp.json
      {% else %}
      {{ ansible_env.HOME }}/.cache/oh-my-posh/themes/atomic.omp.json
      {% endif %}
    posh_theme_dir: >-
      {% if ansible_facts['os_family'] == 'Windows' %}
      {{ ansible_env.LOCALAPPDATA }}\\Programs\\oh-my-posh\\themes
      {% else %}
      {{ ansible_env.HOME }}/.cache/oh-my-posh/themes
      {% endif %}

- name: Ensure oh-my-posh theme directory exists (POSIX)
  ansible.builtin.file:
    path: "{{ posh_theme_dir }}"
    state: directory
    mode: '0755'
  when: ansible_facts['os_family'] != 'Windows'

- name: Download atomic oh-my-posh theme (POSIX)
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/main/themes/atomic.omp.json
    dest: "{{ posh_theme_path }}"
    mode: '0644'
  when: ansible_facts['os_family'] != 'Windows'

- name: Configure bash prompt to use oh-my-posh
  ansible.builtin.blockinfile:
    path: "{{ ansible_env.HOME }}/.bashrc"
    create: true
    marker: "# {mark} ANSIBLE OH-MY-POSH"
    block: |
      # Oh-my-posh configuration
      if command -v oh-my-posh >/dev/null 2>&1; then
        eval $(oh-my-posh init bash --config {{ posh_theme_path }})
      fi
  when: ansible_facts['os_family'] != 'Windows'

- name: Configure zsh prompt to use oh-my-posh
  ansible.builtin.blockinfile:
    path: "{{ ansible_env.HOME }}/.zshrc"
    create: true
    marker: "# {mark} ANSIBLE OH-MY-POSH"
    block: |
      # Oh-my-posh configuration
      if command -v oh-my-posh >/dev/null 2>&1; then
        eval $(oh-my-posh init zsh --config {{ posh_theme_path }})
      fi
  when:
    - ansible_facts['os_family'] != 'Windows'
    - ansible_facts.shell is defined
    - '"zsh" in ansible_facts.shell'

- name: Include Windows shell configuration
  ansible.builtin.include_tasks: shell_windows.yml
  when: ansible_facts['os_family'] == 'Windows'
