---
- name: Ensure PowerShell profile directory exists
  community.windows.win_file:
    path: "{{ ansible_env.USERPROFILE }}\\Documents\\PowerShell"
    state: directory

- name: Configure PowerShell prompt to use oh-my-posh
  community.windows.win_lineinfile:
    path: "{{ ansible_env.USERPROFILE }}\\Documents\\PowerShell\\Microsoft.PowerShell_profile.ps1"
    create: true
    line: "oh-my-posh init pwsh --config \"{{ posh_theme_path }}\" | Invoke-Expression"
    insertafter: EOF
